@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


* { margin: 0; padding: 0; box-sizing: border-box;}
ol, ul, dl { list-style: none;}
a { text-decoration: none;}

body {
    font-family: 'Roboto', sans-serif;
    color: #191718;
}
h2{font-size: 40px; font-weight: normal; color: #191718;}
h3{font-size: 20px; font-weight: normal; color: #191718;}
p{font-size: 16px; font-weight: normal; line-height: 26px; color: #191718;}

::selection {
    background: #191718;
    color: #fff;
}

/* nudake */
#nudake {
    max-width: 1240px;
    margin: 0 auto;
}
/* nudake End */

/*header*/
#header{
    position: sticky;
    top: 0;
    padding: 10px;
    background-color: #fff;
    z-index: 100;
}
#header .header_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header .header_container h1 img{
    display: block;
    width: 40px;
    height: 40px;
}

#header .header_container .nav_btn_container .nav_btn{
    position: relative;
    width: 40px;
    height: 40px;
}
#header .header_container .nav_btn_container .nav_btn a span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 30px;
    height: 3px;
    background:rgba(25, 23, 24, 1) ;
    color: transparent;
    transition: all 0.2s;
}
#header .header_container .nav_btn_container .nav_btn a span::before,
#header .header_container .nav_btn_container .nav_btn a span::after{ 
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 3px;
    background:rgba(25, 23, 24, 1) ;
    transition: all 0.2s;
}
#header .header_container .nav_btn_container .nav_btn a span::before{
    top: -8px;
}
#header .header_container .nav_btn_container .nav_btn a span::after{
    top: 8px;
}
#header .header_container .nav_btn_container .nav_btn.on a span{
    background: rgba(25, 23, 24, 0);
}
#header .header_container .nav_btn_container .nav_btn.on a span::before{
    top: 0px;
    transform: rotate(45deg);
}
#header .header_container .nav_btn_container .nav_btn.on a span::after{
    top:0px;
    transform: rotate(-45deg);
}

#header .nav_list_container{
    display:none;
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    top:60px;
    padding: 60px 60px 200px;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    /*height:100%;*/
    background:#fff;
}

#header .nav_list_container.on{
    display: block;
    z-index: 100;
    height: 100vh;
}
#header .nav_list_container .menu_list{
    padding-right: 40px;
    border-right: 5px solid #C3C3C3;
    text-align: right;
}
#header .nav_list_container .menu_list li{
    padding: 18px 0;
}
#header .nav_list_container .menu_list li h2{
    color: #C3C3C3;
}
#header .nav_list_container .menu_list .menu_bar{
    position: absolute;
    right: 60px;
    top: 60px;
    width: 5px;
    height: 85px;
    background: #191718;
    opacity: 0
}
#header .nav_list_container .menu_list li:nth-child(1).on h2,
#header .nav_list_container .menu_list li:nth-child(2).on h2,
#header .nav_list_container .menu_list li:nth-child(3).on h2,
#header .nav_list_container .menu_list li:nth-child(4).on h2{
    color: #191718;
    transition: all 0.3s;
}
#header .nav_list_container .menu_list li:nth-child(1).on ~ span{
    opacity: 1;
    transition: all 0.3s;
}
#header .nav_list_container .menu_list li:nth-child(2).on ~ span{
    top: 145px;
    opacity: 1;
    transition: all 0.3s;
}
#header .nav_list_container .menu_list li:nth-child(3).on ~ span{
    top: 232px;
    opacity: 1;
    transition: all 0.3s;
}
#header .nav_list_container .menu_list li:nth-child(4).on ~ span{
    top: 316px;
    opacity: 1;
    transition: all 0.3s;
}

#header .nav_list_container .sns_list{
    display: flex;
    justify-content: right;
    margin-top: 50px;
    margin-right: 50px;
}
#header .nav_list_container .sns_list a:nth-child(2){
    margin-left: 26px;
}
#header .nav_list_container .sns_list a i{
    font-size: 36px;
    color: #C3C3C3;
}
#header .nav_list_container .sns_list a i:hover{
    color: #191718;
    transition: all 0.3s;
}
/*header End*/


/*footer*/
#footer{
    margin-top:20px;
    padding: 20px;
}
#footer .footer_container{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-top: 1px solid #C3C3C3;
}
#footer .footer_container .footer_left ul li{
    margin-bottom: 8px;
    color: #C3C3C3;
}
#footer .footer_container .footer_left ul li:nth-child(1){
    margin-bottom: 20px;
    color: #191718;
}
#footer .footer_container .footer_left ul li:hover{
    color: #191718;
    cursor: pointer;
}
#footer .footer_container .footer_right a i{
    font-size:24px;
    color: #C3C3C3;
}
#footer .footer_container .footer_right a:nth-child(1){
    margin-right: 10px;
}
#footer .footer_container .footer_right a i:hover{
    color: #191718;
}
#footer .copyright p{
    font-size: 14px;
    color: #C3C3C3;
}
/*footer End*/